button
{
    padding:0px 0px;
    margin: 3px;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    font-size: x-large;
    border: none;
}

input
{
    height:60px;
    width:300px;
    border-radius: 10px;
    font-size: x-large;
    margin: 10px;
    border: none;
    padding-left: 10px;
}
div
{
    display: flex;
    justify-content: center;
}

h1{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: antiquewhite;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('pexels-karolina-grabowska-5412432.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main
{
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 5px solid rgb(140, 0, 0);
    border-radius: 20px;
    background-color: rgb(196, 0, 0);
    max-width: min-content;
    max-height: 800px;
}

#operators
{
    background-color: #5882BD;
    color: white;
}

#spec
{
    background-color: #F74535;
    color: white;
}