button
{
    /*padding:10px 12px;*/
    margin: 2px;
    width: 30px;
    height: 30px;
}

input
{
    height:8%;
    width:18.5%;
}

div
{
    display: flex;
    justify-content: center;
}

.inputbox{
    color: aqua;
}